@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

/* || RESET */
*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --FF: 'Bruno Ace SC', cursive;
  --FS: clamp(1rem, 2.2vh, 1.5rem);

  /* STANDARD PADDING */
  --PADDING-TB: 0.25em; /*TB-TOPBOTTOM*/
  --PADDING-SIDE: 2.5%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea{
    font: inherit;
}

body {
  margin: 0;
  height: 100vh;
  background-color:black;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 5px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 5px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.header {
  position: sticky;
  top: 0;
}

.header__h1 {
  font-family: var(--FF);
  letter-spacing: .1em;
  text-align: center;
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.header__clip {
  background-color: #f3ec78;
  background-image: linear-gradient(-180deg, #5395ff, #af7342);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90%;
}

.main__button {
  background-image: linear-gradient(-180deg, #5395ff, #af7342); /*linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);*/
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font-family: var(--FF);
  font-size: 1em;
  font-weight: bolder;
  justify-content: center;
  line-height: 1em;
  max-width: 50%;
  min-width: 30%;
  margin-top: 3rem;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: normal;
  cursor: pointer;
}


.main__button:active,
.main__button:hover {
  outline: 0;
}

.main__button span {
  background-color: rgb(5, 6, 45);
  align-self: center;
  padding: 15px 15px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.main__button:hover span {
  background: none;
}


.main__container {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 40em;
  overflow: hidden;
}

.sun__container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 70px;
  width: 70px;
  font-size: 70px;
  left: 50%;
  top: 50%;
  margin-left: -35px;
  margin-top: -35px;
  z-index: 0;
}

.earthmoon__container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  font-size: 25px;
  left: 50%;
  top: 50%;
  margin-left: -12.5px;
  margin-top: -12.5px;
  z-index: 1;
  animation: moveEarthMoon 10.5s linear infinite;
}


.earth{
  position: absolute;
  z-index: 2;
}

.moon{
  position: absolute;
  z-index: 3;
  font-size: 5px;
  animation: moveMoon 2.7s linear infinite;
}


.jupiter__container{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  font-size: 40px;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
  z-index: 1;
  animation: moveJupiter 20s linear infinite;
}

.comet1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  width: 10px;
  font-size: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
  animation: moveComet 11s linear infinite;
  animation-delay: 4s;
}

.comet2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  width: 10px;
  font-size: 10px;
  position: absolute;
  top: 0px;
  right: 250px;
  animation: moveComet 10s linear infinite;
  animation-delay: 5s;
}

.comet3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  width: 10px;
  font-size: 10px;
  position: absolute;
  top: 0px;
  right: 500px;
  animation: moveComet 12s linear infinite;
  animation-delay: 9s;
}

.comet4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  width: 10px;
  font-size: 10px;
  position: absolute;
  top: 0px;
  right: 750px;
  animation: moveComet 13s linear infinite;
  animation-delay: 2s;
}

.comet5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  width: 10px;
  font-size: 10px;
  position: absolute;
  top: 0px;
  right: 1000px;
  animation: moveComet 9s linear infinite;
  animation-delay: 0s;
}

@keyframes moveComet {
  to {
    transform: translate(-3000px, 3000px);
  }
}

@keyframes moveEarthMoon {
  from {
    transform: rotate(0deg) translate(120px);
  }

  to {
    transform: rotate(360deg) translate(120px);
  }
}

@keyframes moveMoon {
  from {
    transform: rotate(0deg) translate(20px);
  }

  to {
    transform: rotate(360deg) translate(20px);
  }
}

@keyframes moveJupiter {
  from {
    transform: rotate(0deg) translate(200px);
  }

  to {
    transform: rotate(360deg) translate(200px);
  }
}


@media (min-width: 768px) {
  .main__button {
    font-size: 24px;
    min-width: 196px;
  }
}